<a href="https://colab.research.google.com/github/anilkumarbestha/anil/blob/main/30_days_challenge_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("anil",end=' ')
print('kumar','kumar',end=' ')
print('dileep','kumar',end=' ')
print('nanaku','prematho')

anil kumar kumar dileep kumar nanaku prematho

In [ ]:
 a =3
 b= 4.4
 print(a,b ,end=' ')

3 4.4

In [ ]:
a=input()

10

In [ ]:
print(a)

10

In [ ]:
number1=input('enter a first number =')
number2=input('enter a second number =')

enter a first number =4
enter a second number =5

In [ ]:
print(number1+number2)

45

In [ ]:
print(number1,number2,sep="\n")

4
5

In [ ]:
print(number1+number2)

45

In [ ]:
a ="Anil"
b =" "
c ="kumar"
d=a+b+c
print(d)
x="a"+"yz"
print(x)

Anil kumar
ayz

In [ ]:
number1 =int(number1)
number2=int(number2)
value=(number1+number2)
print(value)

9

In [ ]:
print("My name is: ", "azmat",end=" ")
print("Hello Everyone")

My name is:  azmat Hello Everyone

In [ ]:
a = 5
b = 4
print(a,b,end=" ")

5 4

In [ ]:
print("afzal", end = "@")
print("CodingNinjas")

afzal@CodingNinjas

In [ ]:
print(5, 6, 7, sep = "," )

5,6,7

In [ ]:
length =input()
breadth=input()

4
20

In [ ]:
print('hi')

hi

In [ ]:
a = int(input("enter a number "))

In [ ]:
if 10 == 10:
    print("Welcome to CodingNinjas")

Welcome to CodingNinjas

In [ ]:
if a==2:
  print('hello')
print('outside')

In [ ]:
a,b =12,5
if a+b:
  print('true')
else:
  print('false')

true

In [ ]:
num1 =int(input(" enter a first number before a swap "))
num2 =int(input("enter a second number before a swap "))

 enter a first number before a swap 2
enter a second number before a swap 4

In [ ]:
num1=2
num2=4
print("Value of num1 before swaping",num1)
print("value of num2 before swaping",num2)

temp=num1
num1=num2
num2=temp
print("value of num1 after swaping",num1)
print("value of num2 after swaping",num2)

Value of num1 before swaping 2
value of num2 before swaping 4
value of num1 after swaping 4
value of num2 after swaping 2

In [ ]:
for num in range(2,5,1):
    print(num, end=", ")

2, 3, 4,

In [ ]:
What will be the output of the following Python code?

i = 0
while(i < 5):
    i = i + 1
    print(i,end = " ")
    i += 1

Object `code` not found.
1 3 5

In [ ]:
i = 0
while(i < 5):
    i = i + 1
    print(i)
    i += 1

1
3
5

In [ ]:
i =2
while(i<5):
  i=i+1
  print(i)
  i+=1

3
5

In [ ]:
a=0
while a<5:
  print(a)
  a=a+1

0
1
2
3
4

In [ ]:
i =0
while i<5:
  if i==3:
    break
  print(i)
  i=i+1

0
1
2

In [ ]:
i =0
while i<5:
  i =i+1
  print(i,sep="\n")
  i+=1

1
3
5

In [ ]:
i = 0
while(i < 5):
    print(i,end = " ")
    i=i+1

0 1 2 3 4

In [ ]:
i = 0
while i < 5:
    if i == 2:
        continue
    else:
        print(i,end = " ")
        i += 1

0 1

In [ ]:
n = 0
while n <5:
  n=n+1
  if n==3:
    continue
    print(n)
    n=n+1

In [ ]:
for i in range(1,5):
  if i==3:
    continue
  else:
    print(i,end=" ")

1 2 4

In [ ]:
a = 'anil'
print(a)

anil

In [ ]:
a[-3]

'n'

In [ ]:
a ='anil'
b= 'kumar'
d=a+b
print(d)

anilkumar

In [ ]:
c= a+b
print(c)

anilkumar

In [ ]:
for i in d:
  print(i,end=' ')

a n i l k u m a r

In [ ]:
'a' in c
'b' in c

False

In [ ]:
'k' in c

True

In [ ]:
print(r'\n')

\n

In [ ]:
b

In [ ]:
name =input("enter a good name please")
print('hii {},what about you ?',format(name))

enter a good name pleaseAnil
hii {},what about you ? Anil

In [ ]:
a='Anil'
print(a.upper())
print(a.lower())

ANIL
anil

In [ ]:
words ='a-b-c d'
words.split('-')

['a', 'b', 'c d']

In [ ]:
list & tuple

In [ ]:
d =[1,3,4.5,"Anil"]
e =(1,3,4.5,"Anil")

In [ ]:
print(type(d))

<class 'list'>

In [ ]:
print(type(e))

<class 'tuple'>

In [ ]:
print(d)

[1, 3, 4.5, 'Anil']

In [ ]:
print(d[0:3])

[1, 3, 4.5]

In [ ]:
4.5 in d

True

In [ ]:
'AK' in d

False

In [ ]:
d[1]

3

In [ ]:
d[3]="anil"

In [ ]:
d

[True, 3, True, 'anil']

In [ ]:
d[0:3] ='anil','kumAR'

In [ ]:
d=[1,2,3.5,True]

In [ ]:
d

[1, 2, 3.5, True]

In [ ]:
p =[3,5,6.5,True]

In [ ]:
d.extend(p)

In [ ]:
d

[1, 2, 3.5, True, 2, 3, 4.5, True, 3, 5, 6.5, True]

In [ ]:
for a in d:
  print(a,end='  ')

1  2  3.5  True  2  3  4.5  True  3  5  6.5  True

In [ ]:

a= {1,2,3,4.5,"Anil"}
type(a)

set

In [ ]:
len(a)

5

In [ ]:
for x in a:
  print(x)

1
2
3
4.5
Anil

In [ ]:
a.add(False)

In [ ]:
print(a)

{False, 1, 2, 3, 4.5, 'Kumar', 'Anil'}

In [ ]:
a.remove("Kumar")

In [ ]:
print(a)

{False, 1, 2, 3, 4.5, 'Anil'}

In [ ]:
a.remove(4.5)
print(a)

{False, 1, 2, 3, 'Anil'}

In [ ]:
b ={'name':'AK','age':13,'marks1':95.5,'marks2':99.9}
print(type(b))

<class 'dict'>

In [ ]:
print(b.get('marks1'))

95.5

In [ ]:
y =b.keys()
print(y)

dict_keys(['name', 'age', 'marks1', 'marks2'])

In [ ]:
for i in y:
  print(b.get(i))

AK
13
95.5
99.9

In [ ]:
x=b.values()
print(x)

dict_values(['AK', 13, 95.5, 99.9])

In [ ]:
z = b.items()
print(z)

dict_items([('name', 'AK'), ('age', 13), ('marks1', 95.5), ('marks2', 99.9)])

In [ ]:
'marks1' in b

True

In [ ]:
'name' in b

True

In [ ]:
'hobbies' in b

False

In [ ]:
b.update({'age':10})

In [ ]:
b.values()

dict_values(['AK', 10, 95.5, 99.9])

In [ ]:
b['hobbies'] =['playing/watching cricker','playing pubg']

In [ ]:
b

{'name': 'AK',
 'age': 10,
 'marks1': 95.5,
 'marks2': 99.9,
 'hobbies': ['playing/watching cricker', 'playing pubg']}

In [ ]:
type(b.get('hobbies'))

list

In [ ]:
b.pop('hobbies')
b

{'name': 'AK', 'age': 10, 'marks1': 95.5, 'marks2': 99.9}

In [ ]:
Functons

In [ ]:
def sayHello():
  print("Anil")
  print("kumar")
  print("namaskarm")

In [ ]:
sayHello()

Anil
kumar
namaskarm

In [ ]:
def add(a,b):
  print(a+b)
  print(c+d)

In [ ]:
add(3,3)
add(2,4)

6
6

In [ ]:
def sub(x,y):
  print(x-y)

In [ ]:
sub(5,3)

2

In [ ]:
def sayHi(name):
  """
  This is My First Programe
  """
  print("Hi",name)

In [ ]:
sayHi("Anil Kumar")

Hi Anil Kumar

In [ ]:
print(sayHi.__doc__)

  This is My First Programe

In [ ]:
def func(a):
    a = a + 10
    return a

#Driver's code
a = 35
func(a)
print(a)

35

In [ ]:
def square(a):
    ans = a * a
    return ans

#Driver's code
a = 4
a = square(a)
print(a)

16

In [ ]:
def findsum(*args):

    sm = 1
    for i in args:
        sm *= i
    return sm

#Driver's code
z = findsum(1,2,3,4,5)
print(z)

120

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def GetValue(self):
      print("The name of the person is",self.name,"and the age is",self.age,".",sep=" ")

name= input()
age =int(input())
P1=Person(name,age)
P1.GetValue()

anil
23
The name of the person is anil and the age is 23 .

In [ ]:
class Person:
    city =" Anathapur"
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def GetValue(self):
      print("The name of the Person is",self.name,"and the age is",self.age,"and he is from",".",Person.city,sep=" ")


P1=Person("anil",22)
P1.GetValue()

P2=Person("AK",20)
P2.GetValue()

P3 =Person("Kumar",15)
P3.GetValue()

The name of the Person is anil and the age is 22 and he is from .  Anathapur
The name of the Person is AK and the age is 20 and he is from .  Anathapur
The name of the Person is Kumar and the age is 15 and he is from .  Anathapur

In [ ]:
class Person:
  def __init__(self,name,age):
    self.name=name
    self.age=age
  @staticmethod
  def Hello():
    print("Hello")


  def GetValue(self):
    print("The name of the person is",self.name,"and the age is",self.age,".",sep=" ")

P1 =Person("Anil",20)
P1.GetValue()
P1.Hello()

P2 =Person("AK",22)
P2.GetValue()
P2.Hello()
print("hello hyy")

The name of the person is Anil and the age is 20 .
Hello
The name of the person is AK and the age is 22 .
Hello
hello hyy

In [ ]:
class Person:
    def __init__(self, name, age):
        self.__name =name
        self.age = age
    def GetValue(self):
      print(self.__name)


P1=Person("Anil",22)
#method 1 of accessing data
P1.GetValue()
# method 2 of accessing data
print(P1.__name)
# using inheritance

Anil

AttributeError: 'Person' object has no attribute '__name'

In [ ]:
class Person:
  age =20
  def walk(self):
    print("iam walking")

In [ ]:
class Student(Person):
  rno=16
  def Study(self):
    print("iam studing")

In [ ]:
s1=Student()

In [ ]:
s1.Study()

iam studing

In [ ]:
s1.walk()

iam walking

In [ ]:
#polimorphism
a=2
b=5
c="Anil"
d="kumar"

In [ ]:
print(a+b)
#these are addition Formate

7

In [ ]:
print(c+d)
# here concate formate

Anilkumar

In [ ]:
print(len("Anil"))
#there are count in string function

4

In [ ]:
print(len([1,2,3,"Anil","kumar"]))
# there are no.of elements count in list

5

In [ ]:
def mul(a,b,c=1,d=1):
  print(a+b+c+d)

In [ ]:
mul(2,3)

7

In [ ]:
def mul(a,b,c=1,d=1,):
  print(a*b*c*d)

In [ ]:
mul(2,3,)

In [ ]:
#Exception handiling
l =[1,2,3,4]
print("provide the index to be printed")
i = int(input())
print(l[i])

provide the index to be printed
3
4

In [ ]:

l =[1,2,3,4]
print("provide the index to be printed")
i = int(input())
try:
  c=5/i
  print(l[i])
except ZeroDivisionError as e:
  print("Zero can't be divide")

except Exception as e:
  print("there is a run-time error")
finally:
  print("iam inside a family")
  print("bye")

provide the index to be printed
12
there is a run-time error
iam inside a family
bye

In [ ]:
# here coming run-time coming
try:
  a =10
  b =0
  c =a/b
except ValueError:
  print("Exception Occured")

ZeroDivisionError: division by zero

In [ ]:
try:
  a =10
  b =0
  c =a/b
  print(c)
except ZeroDivisionError:
  print("Exception Occured")

Exception Occured

In [23]:
# Parent class
from abc import ABC, abstractmethod

class Vehicle(ABC):
  @abstractmethod
  def start(self):
    pass

In [31]:
v =Vehicle()

TypeError: Can't instantiate abstract class Vehicle with abstract method start

In [36]:
# Child class
class Car(Vehicle):
  def horn(self):
    print("Horning..")
  def start(self):
    print("Starting..")

In [37]:
c = Car()

In [40]:
c.start()
c.horn()

Starting..
Horning..